In [22]:
pip install pandas nltk matplotlib seaborn wordcloud

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/deepak/.local/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: nltk in /home/deepak/.local/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: matplotlib in /home/deepak/.local/lib/python3.10/site-packages (3.8.3)
Requirement already satisfied: seaborn in /home/deepak/.local/lib/python3.10/site-packages (0.13.2)
Requirement already satisfied: wordcloud in /home/deepak/.local/lib/python3.10/site-packages (1.9.3)
Requirement already satisfied: tzdata>=2022.7 in /home/deepak/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/deepak/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in /home/deepak/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: joblib in /home/deepak/.local/lib/python3.10/site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /home/deepak/.local/lib/python3.10/site-packages (from nltk) (2024.5.15)
Requirement already satisfied: tqdm in /home/deepak/.local/lib/python3.10/site-packages (from nltk) (4.66.4)
Requirement already satisfied: click in /usr/lib/python3/dist-packages (from nltk) (8.0.3)
Requirement already satisfied: fonttools>=4.22.0 in /home/deepak/.local/lib/python3.10/site-packages (from matplotlib) (4.49.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/deepak/.local/lib/python3.10/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: pillow>=8 in /usr/lib/python3/dist-packages (from matplotlib) (9.0.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (23.2)
Requirement already satisfied: cycler>=0.10 in /home/deepak/.local/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/deepak/.local/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
df=pd.read_csv("eda_meld_emotion_dataset.csv")

In [25]:
df.head()

,speaker,utt_id,utterance,emotion,sentiment,eda1,eda2,eda3,eda4,eda5,EDA,all_match,con_match,match
0,b'Chandler',0,b'also I was the point person on my company\xc...,neutral,neutral,sd,sd,sd,sd,sd,sd,AllMatch,NotConMatch,NotMatch
1,b'The Interviewer',1,b'You must\xc2\x92ve had your hands full.',neutral,neutral,sv,sd,sv,sd,sv,sv,AllNotMatch,ConMatch_eda5_eda3_strong,NotMatch
2,b'Chandler',2,b'That I did. That I did.',neutral,neutral,sd,sd,sd,sd,sd,sd,AllMatch,NotConMatch,NotMatch
3,b'The Interviewer',3,b'So let\xc2\x92s talk a little bit about your...,neutral,neutral,sd,ad,sv,sv,sd,sv,AllNotMatch,ConMatch_eda4_eda3_con,NotMatch
4,b'Chandler',4,b'My duties? All right.',surprise,positive,fc,qy,fc,qy,fc,fc,AllNotMatch,ConMatch_eda5_eda3_strong,NotMatch

In [26]:
df.index

RangeIndex(start=0, stop=13708, step=1)

In [34]:
df1=df[df['speaker']=="b'Chandler'"]

In [39]:
df2=df1[df1['utt_id']==0]['utterance']

In [40]:
df2.iloc[0]

"b'also I was the point person on my company\\xc2\\x92s transition from the KL-5 to GR-6 system.'"

In [28]:
df.columns

Index(['speaker', 'utt_id', 'utterance', 'emotion', 'sentiment', 'eda1',
       'eda2', 'eda3', 'eda4', 'eda5', 'EDA', 'all_match', 'con_match',
       'match'],
      dtype='object')

In [42]:
"""
Explanation of Columns
speaker: The identifier of the person speaking.
utt_id: Unique identifier for each utterance.
utterance: The text spoken by the speaker.
emotion: The emotion expressed in the utterance.
sentiment: The sentiment (positive, negative, neutral) of the utterance.
eda1, eda2, eda3, eda4, eda5: Various EDA (Electrodermal Activity) metrics.
EDA: Overall EDA score.
all_match: Indicator if all conditions are matched.
con_match: Indicator if specific conditions are matched.
match: Indicator if match conditions are met.
"""

'\nExplanation of Columns\nspeaker: The identifier of the person speaking.\nutt_id: Unique identifier for each utterance.\nutterance: The text spoken by the speaker.\nemotion: The emotion expressed in the utterance.\nsentiment: The sentiment (positive, negative, neutral) of the utterance.\neda1, eda2, eda3, eda4, eda5: Various EDA (Electrodermal Activity) metrics.\nEDA: Overall EDA score.\nall_match: Indicator if all conditions are matched.\ncon_match: Indicator if specific conditions are matched.\nmatch: Indicator if match conditions are met.\n'

In [29]:
df.shape

(13708, 14)

In [30]:
df.isnull().sum()

speaker      0
utt_id       0
utterance    0
emotion      0
sentiment    0
eda1         0
eda2         0
eda3         0
eda4         0
eda5         0
EDA          0
all_match    0
con_match    0
match        0
dtype: int64

In [31]:
#Check Null Values
df.isnull().sum().sum()

0

In [32]:
df.describe()

             utt_id
count  13708.000000
mean       6.082215
std        4.949474
min        0.000000
25%        2.000000
50%        5.000000
75%        9.000000
max       32.000000

In [ ]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def preprocess_text(text):
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    # Tokenize
    words = word_tokenize(text)
    # Remove stop words and lemmatize
    words = [lemmatizer.lemmatize(word.lower()) for word in words if word.lower() not in stop_words]
    return ' '.join(words)

df['cleaned_text'] = df['text'].apply(preprocess_text)
print(df.head())